<div class="head desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/report_grey.png"> Achievement</a></li>
        <!-- <li><p class="nopad accord size-std" href="#achievement"><img src="<%= baseurl() %>images/icon/report_grey.png"> Achievement</p>
            <ul class="submenu size-std" id="achievement">
                <li><a href="<%= baseurl() %>report/ach/chart">Chart</a></li>
                <li><a href="<%= baseurl() %>report/ach/table">Table</a></li>                      
            </ul>
        </li> -->
        <li><p class="nopad accord size-std" href="#evidence"><img src="<%= baseurl() %>images/icon/file_grey.png"> File Evidence</p>
            <ul class="submenu size-std" id="evidence">
                <li><a href="<%= baseurl() %>report/detail/salesbooth">Sales Booth</a></li>
                <li><a href="<%= baseurl() %>report/detail/servicepoint">Service Point</a></li>
                <li><a href="<%= baseurl() %>report/detail/cec">CEC</a></li>
                <li><a href="<%= baseurl() %>report/detail/kyc">KYC</a></li>
                <li><a href="<%= baseurl() %>report/detail/jeniuscc">Jenius CC</a></li>
            </ul>
        </li>
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout_grey.png">Logout</a></li>
    </ul>
</div>