<div class="head desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard_grey.png"> Dashboard</a></li>
        <li><p class="nopad accord size-std" href="#soamenu"><img src="<%= baseurl() %>images/icon/report.png"> Source of Awareness</p>
            <ul class="submenu size-std" id="soamenu">
                <li><a href="<%= baseurl() %>report/soa">Chart</a></li>
                <li><a href="<%= baseurl() %>report/soagrid">Table</a></li>                      
            </ul>
        </li>
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/report.png"> Detail Cabang</a></li>
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout_grey.png">Logout</a></li>
    </ul>
</div>